<h1>Showing Article Details</h1>

<p><strong>Title: </strong><%= @article.title%></p>
<p><strong>Description: </strong><%= @article.description%></p>
<p><strong>Info: </strong><%= @article.info%></p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: "Are You Sure?" } %>
<%= link_to 'Return to articles listing', articles_path  %>
<%= link_to 'Home Page', root_path  %>